http:// {
    # Captive portal detection - iOS
    handle /hotspot-detect.html {
        redir http://blockspot.local 302
    }
    handle /library/test/success.html {
        redir http://blockspot.local 302
    }



    # Captive portal detection - Android/Chrome
    handle /generate_204 {
    	respond "" 204
    }
    handle /gen_204 {
	respond "" 204
    }







    # Captive portal detection - Windows
    handle /ncsi.txt {
        redir http://blockspot.local 302
    }
    handle /connecttest.txt {
        redir http://blockspot.local 302
    }

    handle /mapserver {
        root * /srv
        rewrite * /mapserver/index.html
        file_server
    }
    handle /mapserver/ {
        root * /srv
        rewrite * /mapserver/index.html
        file_server
    }
    handle /mapserver/* {
        uri strip_prefix /mapserver
        reverse_proxy mapserver:8080
    }
    handle /osrm/* {
        uri strip_prefix /osrm
        reverse_proxy osrm:5000
    }
    handle /kiwix/* {
        reverse_proxy kiwix:8080
    }
    handle /geo* {
        reverse_proxy geo-search:5000
    }
    handle /geocode* {
        reverse_proxy nominatim:8080
    }
    handle {
        root * /srv
        file_server
    }
}
