http://192.168.8.211 {
handle /mapserver {
    root * /srv
    rewrite * /mapserver/index.html
    file_server
}
handle /mapserver/ {
    root * /srv
    rewrite * /mapserver/index.html
    file_server
}
handle /mapserver/* {
    uri strip_prefix /mapserver
    reverse_proxy mapserver:8080
}
    handle /kiwix/* {
        uri strip_prefix /kiwix
        reverse_proxy kiwix:8080
    }
    handle {
        root * /srv
        file_server
    }
}